rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /meetings/{document} {
      allow read, write: if true;
    }
    match /savings/{document} {
      allow read, write: if true;
    }
    match /teams/{document} {
      allow read, write: if true;
    }
  }
}
